
<div class="rankListing">
  <div class="oneRankBox headRow">
    <div class="oneRankNumber">
      Rank
    </div>
    <div class="oneRankName">
      Section Number
    </div>
    <div class="oneRankScore">
      Overall Score
    </div>
  </div>
  <%@userCount = 0%>
  <%@finalSectionScore.each do |oneSectionteam| %>

      <%@userCount = @userCount + 1%>
      <div class="oneRankBox <%if @userCount%2 == 1%>oneRankBox2<%else%>oneRankBox1<%end%>">
        <div class="oneRankNumber">
          <%= @userCount%>
        </div>
        <div class="oneRankName">
          Section <%= oneSectionteam[0] %>
        </div>
        <div class="oneRankScore">
          <%if oneSectionteam[1] == '-1' %>N/A<%else%><%=oneSectionteam[1] %>%<%end%>
        </div>
        <div class="graphIconDiv" onclick="showUserGraph(<%= oneSectionteam[0]%>,3)">
           <img src="/images/graph.png" height="25px;" alt="Show Graph" title="Show Graph">
        </div>

      </div>
  <%end%>

</div>