<div id="outer-score-container">
  <%= render 'header' %>

  <div id="personal-score-card">
    <%= render 'personal' %>
  </div>
  <div id="class-score-card" style="display: none;">
    <%= render 'fullclass' %>
  </div>




</div>