<div id="mimitem">
<div class="infomimcontainer">
    <div id="infomim" class="iteminactive">mim</div>
    <div id="mimbird" class="hidediv"></div>
    <div id="infomimbottomcrest">
        <div class="bottomcresttitle">
            measureable intent memos
        </div>
        <div class="bottomcrestcontent">
            Use mim-memos to action your personal development plan.

            <ul>
                <li>Create goals with the red arrow.</li>
                <li>Carefully plan and define tasks, and complete them with the green checks.</li>
                <li>Your score shows how you're doing.</li>
            </ul>
            <span class="crestfooter">a 2011 KS2G production</span>
        </div>
    </div>
</div>
</div>