// Place all the styles related to the reflection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questionClass {
	font-weight:bold;
	margin:10px;
}
.answerClass {
	margin:0px 10px;
}
.anserInputText {
	width:100%;
}
.oneQuestion {
	margin-bottom:20px;
	float:left;
}
#answer_2 {
	display:none;
}
#question_2a, #question_2b , #question_2c {
	padding-left:50px;
}
.scoreTitle {
	margin-bottom:20px;
}
input {
	border:none;
	color:#000000;
}
.submitanswers {
	float:right;
	font-weight:bold;
	font-size:14px;
	border:1px solid #333333;
	margin:0px 10px 10px 0px;
	cursor:pointer;
}