// Place all the styles related to the scorecard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.effortBox {
	float:left;
  width: 100%;
}
.completeBox {
	width:49%;
	float:left;
}
.effortRowProgress {
	float:right;
	padding-right:10px;
}
.effortRowTitle {
	float:left;
	padding-left:5px;
}
.effortRow {
	width:732px;
	float:left;
	padding:5px 0px 5px 14px;
	border:1px solid #999999;
}
.effortRow:hover {
  font-weight: bold;
}
.effortRow2 {
	border:1px solid #999999;
	border-top:none;
	border-bottom:none;
	width:716px;
    font-size: 16px;
    padding-top:10px;
	padding-left:30px;
	padding-bottom:0px;
	padding-right:0px;
}
.effortScoreBox {
	float:left;
	width:90%;
	padding-left:30px;
	margin:20px 0px;
}
.effortRow3 {
	border:1px solid #999999;
	border-top:none;
	border-bottom:none;
	width:687px;
	padding-left:59px;
}
.effortRow4 {
	border:1px solid #999999;
	border-top:none;
	border-bottom:none;
	width:663px;
	padding-left:83px;
	padding-top:2px;
  padding-bottom: 10px;
}
.titleBoxInner {
	font-size:16px;
	padding:10px 0px;
	text-decoration:underline;
}
#outer-score-container .instructionLink {
	text-align:right;
	float:left;
	width:100%;
	margin:0px 0px 10px 0px;
}
.categoryRowBox,.goalRowBox,.taskRowBox {
	border-bottom: 2px solid #999999;
	float: left;
	padding-bottom: 5px;
	padding-right: 0;
	width: 100%;
}
.goalRowBox {
	border-bottom: 2px solid #aaaaaa;
}
.taskRowBox {
	border-bottom: 2px solid #bbbbbb;
	font-size: 11px;
	padding-bottom: 0;
	padding-top: 0;
}
.overallRow {
	font-weight:bold;
    font-size: 16px;
    padding-top: 10px;
}
.overallRowBottom {
	border-top:none;
}
.openPlusBox {
  float:left;
}
.scorecardTabs {
  width:100%;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  word-spacing: normal;
  border-bottom: 1px solid #568CA5;
  height: 37px;
  z-index: 2;
  margin:5px 0px;
}
#scorecard_tabs_list {
  float: left;
  list-style: none outside none !important;
  margin: 5px 0 0 !important;
  padding: 0 !important;
}
#scorecard_tabs_list li {
  background: url("//imga.nxjimg.com/emp_image/sa500kids/offtab.png") repeat scroll 0 0 transparent;
  border-color: #A9C4D0;
  border-style: solid;
  border-width: 1px 1px 0;
  display: inline-block;
  font-size: 120%;
  height: 31px;
  line-height: 26px;
  margin-right: 4px;
  text-transform: uppercase;
  vertical-align: top;
}
#scorecard_tabs_list li a {
  color: #5489A1;
  display: block;
  font-family: 'GillSans',Arial;
  padding: 2px 10px 2px 5px;
  text-align: center;
  text-decoration: none;
}
#scorecard_tabs_list .active {
  background: url("//imgb.nxjimg.com/emp_image/sa500kids/ontab.png") repeat scroll 0 0 transparent;
  border-color: #568CA5;
  border-style: solid;
  border-width: 1px 1px 0;
}
#scorecard_tabs_list .active a {
  color: #FFFFFF;
  cursor: default;
  font-weight: bold;
}
.rankListing {
  float:left;
  width:627px;
  border:1px solid #7BBEE3;
  margin-top:20px;
  margin-left:30px;
}
.oneRankBox:hover {
  background:#FFFFFF;
}
.oneRankBox1 {
  background:#CDE9FF;
}
.oneRankBox2 {
  background:#DFFFE7;
}
.oneRankBox {
  float: left;
  font-size: 16px;
  height: 30px;
  padding: 5px 0px;
  width: 100%;
}
.oneRankBox div {
  float:left;
  padding:5px 10px;
}
.oneRankNumber {
  width:80px;
  text-align: center;
}
.oneRankName {
  width:300px;
}
.oneRankScore {
  text-align: center;
  width:135px;
}
.headRow {
  font-weight: bold;
  background: #CDE9FF;
}
.personalRow {
  width:575px;
  padding:5px 0px;
  float: left;
}
.socreName {
  width: 200px;
}
.personalStatsBox {
  float: left;
  font-size: 16px;
  margin-left: 25px;
  margin-top: 20px;
}
.personalRow div {
  float:left;
  padding:5px;
}